config LLC
	tristate
	depends on NET

config LLC_DOWNLOAD
	bool "enable LLC download"
	default n
	depends on LLC
	help
	  code extension in ll_input.c and ll_output.c for download feature
	  (currently used on Siemens cp15431)

config LLC2
	tristate "ANSI/IEEE 802.2 LLC type 2 Support"
	select LLC
	help
	  This is a Logical Link Layer type 2, connection oriented support. 
	  Select this if you want to have support for PF_LLC sockets.
